:root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #2b4d6b;
}

header {
    padding: 20px;
    display: flex;
    background-color: #2b4d6b;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
    text-shadow: 0 0 10px rgba(21, 19, 175, 0.5);
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(21, 19, 175, 0.5);
}

header nav ul li a:hover {
    background: #ffffff;
    color: #2b4d6b;
    border-radius: 15px;
    text-shadow: none;
    text-decoration: underline;
    text-decoration-color:#2b4d6b;
}

/* Hero Section */

.hero-banner {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/hero-cover.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-cta {
    width: 100%;
    margin: 3%;
    position: relative;
}

.hero-cta h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}


/* About Me */
.section-title {
    font-size: 32px;
    color: #ffffff;
    border-bottom: 3px solid;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto 40px auto;
    width: 50%;
}

.primary-border {
    border-color: var(--primary-color);
}

.about {
    margin: 20px;
    padding: 10px;
}

.about p{
    line-height: 2;
    color: #ffffff;
    width: 80%;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}
