
:root {
    --primary-color: #2b4d6b;
    --secondary-color: #ffffff;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
}

header {
    padding: 20px;
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(21, 19, 175, 0.5);
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(21, 19, 175, 0.5);
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
    text-decoration: underline;
    text-decoration-color:var(--primary-color);
}

.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    color: var(--secondary-color);
    text-decoration:none;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(21, 19, 175, 0.5);
}

.contact nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
    text-decoration-color:var(--primary-color);
}
/* Hero Section */

.hero-banner {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/hero-cover.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-cta {
    width: 100%;
    margin: 3%;
    position: relative;
}

.hero-cta h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-color);
}

.section-title {
    font-size: 32px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto 40px auto;
    width: 50%;
}

.primary-border {
    border-color: var(--secondary-color);
}

.secondary-border {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.about {
    margin: 20px;
    padding: 10px;
}

.about p{
    line-height: 2;
    color: var(--secondary-color);
    width: 80%;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}

/* Work Section */

.page-section {
    color:var(--primary-color);
    margin: 0;
    background-color: var(--secondary-color);
    padding: 30px;
}

.grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.grid-container {
    background: var(--primary-color);
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    border: 2px solid #000000;
    color: var(--secondary-color);
    font-size: 18px;
    grid-gap: 10px;
}

.grid-item {
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    cursor: pointer;
}

.grid-item.run-buddy {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url("../images/run-buddy.jpg");
    background-size: cover;
    text-decoration: none;
}

.grid-item.horiseon {
    grid-row: 2/ span 3;
    background-image: url("../images/horiseon.png");
    background-size: cover;
    text-decoration: none;
}

.grid-item.project-1{
    background-image: url("../images/project1.jpg");
    background-size: cover;
    text-decoration: none;
}
.grid-item.project-2 {
    background-image: url("../images/project2.jpg");
    background-size: cover;
    text-decoration: none;
}

.grid-item.project-3 {
    background-image: url("../images/project3.jpg");
    background-size: cover;
    text-decoration: none;
}

.work-img {
    width: 45%;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    bottom: 10px;
}

.work-img h3 {
    position: relative;
    font-size: 24px;
    margin-bottom: 5px;
}

.work-img span {
    position: relative;
    font-size: 16px;
    margin-bottom: 5px;
}

.runbuddy-img {
    width: 35%;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    bottom: 10px;
}
.runbuddy-img h3 {
    position: relative;
    font-size: 28px;
}

.runbuddy-img span {
    position: relative;
    font-size: 20px;
    margin-bottom: 5px;
}

.horiseon-img {
    width: 80%;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    bottom: 10px;
}

.horiseon-img h3 {
    position: relative;
    font-size: 24px;
    margin-bottom: 5px;
}

.horiseon-img span {
    position: relative;
    font-size: 16px;
    margin-bottom: 5px;
}


/* Media Query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 15px;
        width: 80%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .contact nav ul {
        width: 100%;
        justify-content: flex-end;
    }

    .contact nav ul li a {
        text-align: center;
        font-size: 15px;
    }

}

@media screen and (max-width: 768px) {

    .grid-container {
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,100px);
        border: 2px solid #000000;
        grid-gap: 5px;
    }
    .grid-item.run-buddy {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .grid-item.horiseon {
        grid-row: 2/ span 3;
    }

    .work-img {
        bottom: 5px;
    }

    .work-img h3{ 
        width: auto;
        font-size: 10px;
        margin-bottom: 0;
    }
    
    .work-img span {
        font-size: 5px;
        margin-bottom: 0;
    }

    .runbuddy-img {
        bottom: 5px;
    }

    .runbuddy-img h3 {
        font-size: 14px;
    }
    
    .runbuddy-img span {
        font-size: 11px;
        margin-bottom: 0px;
    }

    .horiseon-img {
        bottom: 5px;
    }

    .horiseon-img h3 {
        font-size: 10px;
        margin-bottom: 0px;
    }
    
    .horiseon-img span {
        font-size: 8px;
        margin-bottom: 0px;
    }
}