:root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: #2b4d6b;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
    text-shadow: 0 0 10px rgba(21, 19, 175, 0.5);
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(21, 19, 175, 0.5);
}

header nav ul li a:hover {
    background: #ffffff;
    color: #2b4d6b;
    border-radius: 15px;
    text-shadow: none;
}

/* Hero Section */

.hero-banner {
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/hero-cover.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

